body {
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eee;
}

p,
ul {
  font-size: 0.8em;
  line-height: 20px;
}

@property --pane-color {
  syntax: "<color>";
  inherits: true;
  initial-value: #646464;
}

@property --dot-spacing {
  syntax: "<length>";
  inherits: true;
  initial-value: 5px;
}

.pane {
  padding: 40px 10px 30px 10px;
  background-color: #535353;
  background-image: paint(pane);
  font-size: 1em;
  position: relative;
  --dot-spacing: 5px;
  transition: --dot-spacing 0.5s;
  color: #4c4c4c;
}

.pane:hover {
  --dot-spacing: 15px;
}

.pane:not(:first-child) {
  margin-top: 20px;
}

.pane.mini {
  font-size: 12px;
  --pane-color: #7470b5;
}

.pane.large {
  font-size: 24px;
  --pane-color: #b068bd;
}
